<mat-toolbar>
  <span>Comments</span>
</mat-toolbar>

<div #content class="content">

  <div *ngIf="commentsUpdateHandler.isBeingSubmitted$() | async"
       [ngClass]="['loading-wrapper', comments.length ? '' : 'white-bg']">
    <mat-spinner></mat-spinner>
  </div>

  <ng-container *ngIf="comments.length; then commentsTemplate else noCommentsTemplate"></ng-container>

  <ng-template #addCommentButtonTemplate>
    <button mat-raised-button color="accent" (click)="openCreateDialog()"
            [disabled]="!(commentsUpdateHandler.isReadyForSubmission$() | async)">Add Comment</button>
  </ng-template>

  <ng-template #commentsTemplate>

    <div class="comments-list">

      <div #commentCard *ngFor="let comment of comments">
        <mat-card>
          <mat-card-title>
            <span>{{comment.author}}</span>

            <button mat-icon-button aria-label="Edit" (click)="openUpdateDialog(comment)"
                    [disabled]="!(commentsUpdateHandler.isReadyForSubmission$() | async)">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-card-title>

          <mat-card-content>{{comment.message}}</mat-card-content>
        </mat-card>
      </div>

    </div>

    <div #buttons class="buttons">
      <ng-container *ngTemplateOutlet="addCommentButtonTemplate"></ng-container>
    </div>
  </ng-template>

  <ng-template #noCommentsTemplate>
    <div *ngIf="!comments.length" class="no-comments">
      <h2>No comments found.</h2>
      <ng-container *ngTemplateOutlet="addCommentButtonTemplate"></ng-container>
    </div>
  </ng-template>

</div>
