:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;

  flex: 1;
  min-height: 0;
  gap: 16px;
  margin: 16px;
}

.loading-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: flex;

  mat-progress-spinner {
    margin: auto;
  }
}

.white-bg {
  background-color: white;
}

.comments-list {
  overflow-y: auto;
  flex: 1;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;

  button {
    margin-right: 8px;
  }
}

button {
  margin-left: auto;
  text-transform: uppercase;
}

.no-comments {
  margin: auto;
  display: flex;
  flex-direction: column;

  button {
    margin: auto;
  }
}

mat-spinner {
  margin: auto;
}

mat-card {
  margin: 0 12px;

  mat-card-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      margin-left: auto;
    }
  }
}

