/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

.example-app__dialog-panel {
  width: 100%;
}

@media (min-width: 450px) {
  .example-app__dialog-panel {
    width: 450px;
  }
}
