
<div mat-dialog-title>{{title}}</div>

<mat-dialog-content>

  <mat-progress-bar *ngIf="formHandler.isBeingSubmitted$() | async" mode="indeterminate"></mat-progress-bar>

  <form>

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="nameFormControl" autocomplete="off">
      <mat-error *ngIf="nameFormControl.hasError('required')">
        <strong>Name</strong> is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Message</mat-label>
      <textarea matInput [formControl]="messageFormControl" autocomplete="off" rows="3"></textarea>
      <mat-error *ngIf="messageFormControl.hasError('required')">
        <strong>Message</strong> is required
      </mat-error>
    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="formHandler.isBeingSubmitted$() | async">Cancel</button>
  <button mat-button (click)="comment()" [disabled]="!(formHandler.isReadyForSubmission$() | async)">{{submitButtonName}}</button>
</mat-dialog-actions>
